/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  /* background: #fafafa; */
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
.title{
  padding-left: 2vh;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 110px;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30rem;
}
nav li{
  margin-left: 2vw;
  white-space: nowrap;
}
.set{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
.set.point {
  cursor: pointer;
}
.cart-img{
  width: 7%;
}
.cart-counter{
  position: absolute;
  color: #3A3737;
  font-weight: 700;
  right: 6.8vh;
  top: 2.2vh;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 300px;
  margin-right: 30px;
}
header h2{
  font-size: 2.1em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 1vh;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 97%;
}
label{
  display: block;
  margin: 20px 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
.collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.single{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  text-align: center;
  height: 54vh;
  padding: 0 20px 30px 20px
}
.single:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.single img{
  width: 20vh;
  margin: -30px auto 20px;
}
.single.tops {
  float: right;
}
.single h2.name{
  font-size: 4.5vh;
  padding-bottom: 1vh;
}
.single p.des{
  padding-bottom: 0.5vh;
  font-weight: 390;
}
.single p.price{
  margin-top: 1.8vh;
}
.sidebar-container{
  display: flex;
  height: 112vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fef1bd;
  padding-left: 2vh;
  padding-top: 2.5vh;
  padding-right: 2vh;
  padding-bottom: 0.2vh;
  border-radius: 20px;
}
.outerset{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.innerset{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.innerset img{
  width: 30vh;
  margin: -5vh auto 3vh;
}
.innerset h2.name{
  position: relative;
  left: 40vw;
  top: -40vh;
}
.innerset p.des{
  position: relative;
  left: 40vw;
  top: -38vh;
}
.innerset p.price{
  position: relative;
  left: 40vw;
  top: -33vh;
  font-size: 1.1em;
  font-weight: 500;
}
.toppings-container{
  position: relative;
  top: -18vh;
}
.toppings-container h3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toppings-container h5{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toppings-container h5{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toppings-inside{
  position: relative;
  left: 20vw;
}
.toppings-inside label{
  padding-left: 5vh;
}
.toppings{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 6vh;
  margin-bottom: 2vh;
}
.topprice{
  position: relative;
  right: 20vw;
}
.toppings label {  
  margin: 0;
}
.toppings input {
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  width: 3.2vh;
  cursor: pointer;
}
.toppings h4{
  margin: 2vh;
}
.cart-btn{
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
  margin: 3vh auto;
  display: block;
  background-color: #ffac38;
}
.mybtns{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}
.cart{
  margin: 0.2rem auto;
  width: 95vw;
  display: flex;
  justify-content: center;
}
.cart-container{
  position: relative;
  left: -5vw;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.cart-items{
  width: 16.5vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
}
.cart-item-img{
  width: 25vh;
  object-fit: contain;
  border-radius: 10px;
}
.cart-name{
  font-size: 1.4rem;
  font-weight: bold;
}
.mytops{
  font-size: 1.0rem;
}
.cart-price{
  font-size: 1.2rem;
  font-weight: bold;
}
.remove-btn{
  background-color: #ffff;
  position: relative;
  left: -2vw;
  top: 20vh;
  width: 7vh;
  height: 7vh;
  border: 1px solid #333333;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}  
.remove-btn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}
.remove-btn img {
  width: 3vh;
  height: 4vh;
  position: relative;
  left: -3px;
  top: -2px;
}
.empty-cart{
  position: relative;
  left: -10vw;
  font-size: 1.5rem;
}
.summary{
  height: 33vh;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.summary-title{
  font-size: 1.3rem;
  font-weight: bold;
}
.total-items{
  font-size: 1.1rem;
  font-weight: 500;
}
.total-price{
  display: flex;
  padding-top: 3vh;
  font-size: 1.1rem;
  font-weight: 500;
}
.checkout-btn{
  cursor: pointer;
}
.checkout-btn:focus{
  outline: none;
  border: 1px solid #333333;
}
.checkout-btn:hover {
  opacity: 0.75;
}
.order-title{
  display: flex;
  justify-content: center;
}
.order-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}
.order-summary{
  height: 18vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.order-form{
  margin-top: 1vh;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.payment{
  margin-top: 2vh;
}
.order-btn{
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}